
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300;400;500;600;700&display=swap');

.navbar
{
    top: 0;
    left: 0; 
    background-color: #EEE0C9;
    margin: 0px;
    padding: 2px;
}

.navigation{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000; 
}

.nav-bar-button {
  margin-top : 8px;
}

.chakra-petch-regular {
    font-family: "Chakra Petch", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.profile-photo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px;
}

.profile-photo {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #ddd;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(4px);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-box {
  width: 50vw;
  max-width: 90vw;
  max-height: 80vh;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  position: relative;
  overflow-y: auto;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  border: none;
  font-size: 22px;
  cursor: pointer;
  color: #333;
}

.close-button:hover {
  color: #d9534f;
}

@media (max-width: 768px) {
  .modal-box {
    width: 90vw;
    max-height: 85vh;
    padding: 15px;
  }
}

@media (max-width: 480px) {
  .modal-box {
    width: 95vw;
    max-height: 90vh;
  }

  .close-btn {
    font-size: 20px;
    width: 30px;
    height: 30px;
  }
}

.no-scroll {
  overflow: hidden;
  height: 100vh;
}